.blog-container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  overflow: visible;
}
.header-container {
  flex-shrink: 0;
  width: 100%;
  height: 284px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
}

.nav-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.blog-container h1 a {
  text-decoration: none;
  font-size: 48px;
  color: lavender;
  margin-left: -40px;
}

.blog-container a{
  text-decoration: underline;
  color: rgb(90, 90, 230);
}