.main-bio-container {
  display: flex;
  margin-top: 2em;
}
.main-bio {
  flex: 0 0 80%;
  margin-right: 1.5rem;
}
.main-bio h1 {
  margin-top: 0;
}

@media (max-width: 1024px) {
  .main-bio-container {
    flex-wrap: wrap;
    margin-top: 2em;
  }
  .main-bio {
    order: 1;
    flex: 0 0 100%;
    margin-right: 0;
  }
  .main-bio h1 {
    margin-top: 2.5rem;
  }
}
